.form-box{
    width: 400px;
    height: 360px;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    background-color: #fff;
    top: 0;
    bottom: 0;
    padding: 20px;
    border-radius: 30px;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
.page{
    background-color: #DFE6F1;
    height: 100vh;
}