.body{
    background: #dfe6f1;  /* fallback for old browsers */

height: 98vh;

}
.cardBox{
    display: flex;
    background-color: white;
    height:150px;
    margin:20px 100px;
    border: 1px solid rgb(233, 217, 217);
    border-radius: 20px;
}

.containerBox{
    max-width: 90%;
    display: flexbox;
    flex-wrap: wrap;
    
}
.cardHeader{
    font-size: x-large;
    text-align: center;
    color: #545154;
    width:70%;
    border-radius: 30px 0 0 30px;
}
.icon{
    position: relative;
    left: 10px;
    top:30px;
    color: #707997;
}
.values{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    color: black;
}
.iconBox{
    
    width: 30%;
    border-radius: 0 30px 30px 0;
}