.green{
    background-color: rgb(217, 235, 217);
    color: green;
}
.yellow{
    color: #FEFBFF;
    background-color: #F5C01A;
}
.yellow, .green{
    padding: 2px;
    border-radius: 20px;
    
}
.amount{
    display:flow;
    float:right;
    margin-top:100px
}