
.product_quantity{
    padding-left:30px ;
    
}
.titleHead{
    background-color: #F6F6F6;
}
.title{
    
    margin-bottom: 10px;
}       
.box{
    border: 1px solid #F9F9F9;
    margin:10px
}

.line{
    margin-left:  250px;
    width: 100px;
    border-top: 1px solid black;
}
.success{
    background-color: rgb(99, 223, 99);
    border-radius: 30px;
}
.warn{
    background-color: yellow;
    border-radius: 30px;
    padding: 2px;
}
.danger{
    color: red;
}